@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  color: #eee;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: #212529;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-red {
  color: #ff4656;
}

.text-grey {
  color: rgba(170, 170, 170, 0.6);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #292e32;
}

::-webkit-scrollbar-thumb {
  background: #ff4656;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff394a;
}

.hero-bg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url("../assets/img/valo-agents-tlo.png");
  background-size: cover;
  background-position: center;
}
.hero-bg-box .logo-icon-big {
  height: 150px;
  width: 150px;
  background-image: url("../assets/icons/logo-icon.png");
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 992px) {
  .hero-bg-box .logo-icon-big {
    height: 100px;
    width: 100px;
  }
}
.hero-bg-box .logo-text {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  font-size: 7.2rem;
}
@media only screen and (max-width: 992px) {
  .hero-bg-box .logo-text {
    font-size: 4.8rem;
  }
}

.cards-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 3rem);
  background-color: #212529;
}
@media only screen and (max-width: 992px) {
  .cards-box .btn-red {
    margin-bottom: 3rem;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  min-height: calc(100vh - 3rem);
  padding: 0 2rem;
}
.wrapper .agent-img-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30rem;
  height: 60rem;
  background-color: #292e32;
  border-radius: 0.6rem;
  overflow: hidden;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.15);
  z-index: -2;
}
@media only screen and (max-width: 992px) {
  .wrapper .agent-img-card {
    display: none;
  }
}
.wrapper .agent-img-card.card-red {
  background-color: #ff4656;
}
.wrapper .agent-img-card img {
  height: 100%;
}
.wrapper .agent-img-card .agent-background-img {
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-2.5px);
          transform: translateX(-2.5px);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.wrapper .agent-img-card .animation-one {
  -webkit-transform: translateX(2.5px);
          transform: translateX(2.5px);
}
.wrapper .agent-img-card .agent-img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.wrapper .agent-img-card .animation-two {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}
@media only screen and (max-width: 992px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    gap: 1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.btn {
  padding: 1.2rem 4rem;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.btn.btn-white {
  background-color: #eee;
  color: #212529;
}
.btn.btn-white:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.5);
}
.btn.btn-red {
  background-color: #ff4656;
  color: #eee;
}
.btn.btn-red:hover {
  background-color: #ff394a;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 57, 74, 0.5019607843);
          box-shadow: 0px 0px 12px 0px rgba(255, 57, 74, 0.5019607843);
}

.card-item {
  height: 60rem;
  width: 40rem;
  background-color: #292e32;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card-item .card-item-img {
  width: 100%;
  background-size: cover;
  background-position: center;
}
.card-item .card-item-header {
  padding: 3rem;
  font-size: 1.8rem;
  color: rgba(170, 170, 170, 0.6);
}
.card-item .card-item-text {
  padding: 0 3rem;
}
.card-item:hover {
  -webkit-transform: scale(1.01) translateY(-4px);
          transform: scale(1.01) translateY(-4px);
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 1260px) {
  .card-item {
    height: 55rem;
    width: 30rem;
    font-size: 1.4rem;
  }
  .card-item .card-item-text {
    padding: 0 1.5rem;
  }
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 992px) {
  .cards-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 6rem;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  color: rgba(170, 170, 170, 0.6);
  background-color: #292e32;
  font-size: 12px;
}

.logo-small-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(170, 170, 170, 0.6);
  position: absolute;
  top: 1.5rem;
  left: 3rem;
}
.logo-small-container .logo-icon-small {
  height: 35px;
  width: 35px;
  background-image: url("../../assets/icons/logo-icon.png");
  background-size: cover;
  background-position: center;
  -webkit-filter: invert(50%);
          filter: invert(50%);
}
.logo-small-container .logo-icon-small-text {
  margin-left: 0.5rem;
  font-size: 2.4rem;
  font-weight: bold;
}
@media only screen and (max-width: 992px) {
  .logo-small-container {
    display: none;
  }
}

.agent-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.agent-item.active, .agent-item:hover {
  background-color: #ff4656;
}
.agent-item:not(:last-child) {
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 992px) {
  .agent-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
}
.agent-item .agent-profile-img-small {
  width: 8rem;
  height: 4rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 992px) {
  .agent-item .agent-profile-img-small {
    margin-right: 0;
    width: 6rem;
    height: 3rem;
  }
}
.agent-item .agent-name {
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 992px) {
  .agent-item .agent-name {
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .agent-item {
    height: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .agent-item {
    height: 3rem;
  }
}

.agents-list {
  height: 51rem;
  margin-top: 3rem;
  overflow-y: scroll;
}
@media only screen and (max-width: 992px) {
  .agents-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4.6rem;
    overflow-y: hidden;
    margin-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .agents-list {
    height: 3.6rem;
  }
}

.agents-list-card {
  width: 30rem;
  height: 60rem;
  border-bottom: 3px solid #292e32;
}
.agents-list-card .card-description {
  font-size: 2.4rem;
}
@media only screen and (max-width: 992px) {
  .agents-list-card .card-description {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}
.agents-list-card .agents-number-text {
  font-size: 1.4rem;
  font-weight: bold;
}
@media only screen and (max-width: 992px) {
  .agents-list-card {
    height: 100%;
    border: none;
    width: 65rem;
  }
  .agents-list-card ::-webkit-scrollbar {
    height: 3px;
  }
}
@media only screen and (max-width: 768px) {
  .agents-list-card {
    width: 100%;
    margin-top: 2rem;
  }
}

.skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7.5rem;
  height: 7.5rem;
  border: 2px solid rgba(170, 170, 170, 0.6);
  border-radius: 0.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.skill-item:hover {
  background-color: #ff4656;
  border-color: #eee;
}
.skill-item .temp-img {
  height: 5rem;
  width: 5rem;
}
@media only screen and (max-width: 768px) {
  .skill-item .temp-img {
    height: 4rem;
    width: 4rem;
  }
}
.skill-item.active-img {
  background-color: #ff4656;
  border-color: #eee;
}
@media only screen and (max-width: 768px) {
  .skill-item {
    height: 5rem;
    width: 5rem;
  }
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 3rem 0;
}
.skills-list .active-skill {
  background-color: #ff4656;
  border-color: #eee;
}
@media only screen and (max-width: 768px) {
  .skills-list {
    gap: 0.5rem;
    margin: 2rem 0;
  }
}

.skill-description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 40rem;
}
.skill-description-box .skill-name {
  margin-bottom: 0.5rem;
  color: #ff4656;
  font-size: 2rem;
}

.card-description {
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 768px) {
  .card-description {
    font-size: 1.8rem;
  }
}

.agent-role-header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}
.agent-role-header-box .agent-role-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.agent-role-header-box .agent-role-text-wrapper .text-small {
  font-size: 1.4rem;
}
.agent-role-header-box .agent-role-text-wrapper .text-big {
  font-size: 1.8rem;
}
@media only screen and (max-width: 768px) {
  .agent-role-header-box .agent-role-text-wrapper .text-big {
    font-size: 1.6rem;
  }
}
.agent-role-header-box .role-icon,
.agent-role-header-box .fake-role-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}
.agent-role-header-box .color-grey {
  -webkit-filter: invert(60%);
          filter: invert(60%);
}
.agent-role-header-box .fake-role-icon {
  border-radius: 50px;
  border: 3px solid rgba(170, 170, 170, 0.6);
}

.agent-info-card {
  position: relative;
  width: 65rem;
  height: 60rem;
  padding: 2rem 5rem;
  background-color: #292e32;
  border-radius: 0.6rem;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.15);
}
.agent-info-card .choose-agent-big {
  position: relative;
  top: 20rem;
  color: rgba(170, 170, 170, 0.6);
  text-align: center;
  font-size: 4rem;
}
.agent-info-card button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  width: 3rem;
  background: none;
  color: #ff4656;
  font-size: 3rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.agent-info-card button:hover {
  background-color: #212529;
}
@media only screen and (max-width: 768px) {
  .agent-info-card {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.agent-description-box {
  margin: 4rem auto 1rem;
  max-width: 40rem;
}
.agent-description-box .agent-description-header {
  margin-bottom: 1rem;
  color: #ff4656;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-top: 2rem;
}/*# sourceMappingURL=index.css.map */