@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  color: #eee;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: #212529;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-red {
  color: #ff4656;
}

.text-grey {
  color: rgba(170, 170, 170, 0.6);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #292e32;
}

::-webkit-scrollbar-thumb {
  background: #ff4656;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff394a;
}

.hero-bg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url("../assets/img/valo-agents-tlo.png");
  background-size: cover;
  background-position: center;
}
.hero-bg-box .logo-icon-big {
  height: 150px;
  width: 150px;
  background-image: url("../assets/icons/logo-icon.png");
  background-size: cover;
  background-position: center;
}
.hero-bg-box .logo-text {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  font-size: 7.2rem;
}

.cards-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 3rem);
  background-color: #212529;
}

.wrapper {
  height: calc(100vh - 3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.wrapper .agents-list-card {
  width: 30rem;
  height: 60rem;
  border-bottom: 2px solid #ff4656;
}
.wrapper .agents-list-card .card-description {
  font-size: 2.4rem;
}
.wrapper .agents-list-card .agents-number-text {
  font-size: 1.4rem;
  font-weight: bold;
}
.wrapper .agent-info-card {
  width: 65rem;
  height: 60rem;
  background-color: #292e32;
}
.wrapper .agent-img-card {
  width: 30rem;
  height: 60rem;
  background-color: #292e32;
}

.btn {
  padding: 1.2rem 4rem;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.btn.btn-white {
  background-color: #eee;
  color: #212529;
}
.btn.btn-white:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.5);
}
.btn.btn-red {
  background-color: #ff4656;
  color: #eee;
}
.btn.btn-red:hover {
  background-color: #ff394a;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 57, 74, 0.5019607843);
          box-shadow: 0px 0px 12px 0px rgba(255, 57, 74, 0.5019607843);
}

.card-item {
  height: 60rem;
  width: 40rem;
  background-color: #292e32;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card-item .card-item-img {
  height: 20rem;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.card-item .card-item-header {
  padding: 3rem;
  font-size: 1.8rem;
  color: rgba(170, 170, 170, 0.6);
}
.card-item .card-item-text {
  padding: 0 3rem;
}
.card-item:hover {
  -webkit-transform: scale(1.01) translateY(-4px);
          transform: scale(1.01) translateY(-4px);
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.3);
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 7rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  color: rgba(170, 170, 170, 0.6);
  background-color: #292e32;
  font-size: 12px;
}

.logo-small-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 3rem;
  left: 6rem;
}
.logo-small-container .logo-icon-small {
  height: 35px;
  width: 35px;
  background-image: url("../../assets/icons/logo-icon.png");
  background-size: cover;
  background-position: center;
}
.logo-small-container .logo-icon-small-text {
  margin-left: 0.5rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.agent-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.agent-item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.agent-item .agent-profile-img-small {
  width: 6.4rem;
  height: 3.2rem;
  margin-right: 1rem;
  background-color: #eee;
}
.agent-item .agent-name {
  font-weight: 500;
  text-transform: uppercase;
}

.agents-list {
  height: 51rem;
  margin-top: 3rem;
  overflow-y: scroll;
}/*# sourceMappingURL=index.css.map */