@import '../variables';

.agents-list-card {
	width: 30rem;
	height: 60rem;
	// background-color: $bg-color-secondary;
	border-bottom: 3px solid $bg-color-secondary;
	// box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.3);

	.card-description {
		font-size: $fz-super-large;

		@media only screen and (max-width: 992px) {
			font-size: $fz-big;
			margin-bottom: 0;
		}
	}

	.agents-number-text {
		font-size: $fz-small;
		font-weight: bold;
	}

	@media only screen and (max-width: 992px) {
		height: 100%;
		border: none;
		width: 65rem;
		::-webkit-scrollbar {
			height: 3px;
		}
	}

	@media only screen and (max-width: 768px) {
		width: 100%;
		margin-top: 2rem;
	}
}
