@import '../variables';

.agent-info-card {
	position: relative;
	width: 65rem;
	height: 60rem;
	padding: 2rem 5rem;
	background-color: $bg-color-secondary;
	border-radius: 0.6rem;
	box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.15);

	.choose-agent-big {
		position: relative;
		top: 20rem;
		color: $white-opacity-60;
		text-align: center;
		font-size: 4rem;
	}

	button {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3rem;
		width: 3rem;
		background: none;
		color: $red;
		font-size: 3rem;
		border: none;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			background-color: $bg-color-primary;
		}
	}

	@media only screen and (max-width: 768px) {
		width: 100%;
		padding: 1rem 2rem;
		font-size: $fz-small;
		margin-bottom: 1rem;
	}
}
