@import '../variables';

.logo-small-container {
	display: flex;
	align-items: center;
	color: $white-opacity-60;
	position: absolute;
	top: 1.5rem;
	left: 3rem;

	.logo-icon-small {
		height: 35px;
		width: 35px;
		background-image: url('../../assets/icons/logo-icon.png');
		background-size: cover;
		background-position: center;
		filter: invert(50%);
	}

	.logo-icon-small-text {
		margin-left: 0.5rem;
		font-size: $fz-super-large;
		font-weight: bold;
	}
}
