@import '../variables';

.skills-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 3rem 0;

	.active-skill {
		background-color: $red;
		border-color: $white;
	}

	@media only screen and (max-width: 768px) {
		gap: 0.5rem;
		margin: 2rem 0;
	}
}
