@import './variables';

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	// flex-direction: column;
	gap: 2rem;
	min-height: calc(100vh - 3rem);
	padding: 0 2rem;

	.agent-img-card {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30rem;
		height: 60rem;
		background-color: $bg-color-secondary;
		// background-image: url('https://media.valorant-api.com/agents/e370fa57-4757-3604-3648-499e1f642d3f/fullportrait.png');
		// background-image: url('https://media.valorant-api.com/agents/e370fa57-4757-3604-3648-499e1f642d3f/background.png');
		border-radius: 0.6rem;
		overflow: hidden;

		box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.15);

		z-index: -2;

		&.card-red {
			background-color: $red;
		}

		img {
			height: 100%;
		}

		.agent-background-img {
			position: absolute;
			z-index: -1;
			transform: translateX(-2.5px);
			transition: all 1s;
		}

		.animation-one {
			transform: translateX(2.5px);
		}

		.agent-img {
			transform: translateX(5px);
			transition: all 1s;
		}

		.animation-two {
			transform: translateX(-5px);
		}
	}
}
