// colors
$white: #eee;
$white-hover-color: #fff;
$white-opacity-60: rgba(170, 170, 170, 0.6);
$red: #ff4656;
$dark-red: #ff394a;
$bg-color-primary: #212529;
$bg-color-secondary: #292e32;

// font
$fz-small: 1.4rem;
$fz-regular: 1.6rem;
$fz-big: 1.8rem;
$fz-large: 2rem;
$fz-super-large: 2.4rem;
